/*在父级元素中增加一个，overflow:hidden*/
#img{
    border:1px #000000 solid;
    overflow: hidden;
}

.layer01{
    border:1px #f00 dashed;
    display:inline-block;
    float:left;
}
.layer02{
    border:1px #00f dashed;
    display:inline-block;
    float:left;
}
.layer03{
    border:1px #060 dashed;
    display:inline-block;
    float:right;
}
/*
clear:both 两侧不允许有浮动
clear：left左侧不允许有浮动
*/
.layer04{
    border:1px #666 dashed;
    font-size: 12px;
    line-height: 23px;
    display:inline-block;
    float:right;
    clear:left;
}